* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'action_manregular';
    src: url('fonts/action_man-webfont.woff2') format('woff2'),
         url('fonts/action_man-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    min-height: 100vh;
    color: blue;
    font-family: 'action_manregular', Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container > h1 {
    font-size: 70px;
}


#popup {
    display: inline;
    background-color: greenyellow;
    padding: 40px;
    position: absolute;
    z-index: 1;
    border: 1px solid blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 40%;
}

#form {
    font-size: 24px;
}

form ul {
    list-style: none;
}

form label {
    display: block;
}

form legend {
    padding-bottom: 20px;
    font-size: 34px;
}

form input {
    width: 80%;
    height: 30px;
    padding: 4px;
    margin-bottom: 20px;
    font-size: 20px;
    border: 1px solid blue;
}

.new,
form button {
    padding: 10px 18px;
    border-style: none;
    font-family: 'action_manregular', Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color:blue;
    color: greenyellow;
    cursor: pointer;
}

.turn{
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 100px;
    padding: 30px;
    font-size: 24px;
}



.board {
    display: none;
    /* set when popup is closed - display: grid; */
    width: 400px;
    height: 400px;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 5px;
    background-color: blue;
    border: 6px solid blue;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100px;
    color: blue;
    border-style: none;
    background-color: greenyellow;
    cursor: pointer;
}







